\# Next.js
.next/
out/

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Build files
/build

# Serverless
/.serverless/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.log

# OS files
.DS_Store
Thumbs.db
